h1 {
    color:black;
    font-family: cursive;
    text-align: center;
    
}

footer {
    text-align: center;
    background-color: black;
    color: white;
}

a:link{
    color: blue;
    text-decoration: none;
}

a:visited{
    color: red;
}

a:hover {
    font-weight: bold; 
}

a:active {
    text-decoration: none;
    color: purple;
}

body {
    background-image: url("Images/background pattern.jpg");
}

p {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    text-align: center;
    display: inline-block;
}

label {
    vertical-align: middle;
    text-decoration-style: bold;
}
th, td {
    text-align: left;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    padding-bottom: 15px;
    border-top: 0;
}
.table{
    display: inline-block;
    border-top: none;
    border-bottom: none;
    border-right: none;
    border-left: none;
}
#tableStyle{
    color:black;
}

tbody{
    color: black;
}
.item{
    color: white;
}
input{
    padding-left: 35px;
}
button{
    align-content: center;
    
}
img{
    height: 800px;
    width: 800px;
}
#logo{
    height: 25px;
    width: 200px;
}
#drink{
    height: 90%;
    width: 800px;
}
.carousel-caption{
top: 0;
bottom: auto;
}
#menuItem{
    height: 150px;
    width: 175px;
}


